a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body,
html {
	margin: 0;
}

.App {
	color: rgb(65, 69, 82);
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 500;
	transition: 0.2s;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.Loading {
	align-items: center;
	display: flex;
	font-weight: 500;
	height: 100vh;
	justify-content: center;
}

.Pulse {
	animation: pulse 1s ease-in-out 0s alternate-reverse infinite;
	border-bottom: none;
	font-weight: 500;
}

@keyframes pulse {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
